.toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  span:first-child {
    font-weight: 600;
    font-size: 20px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  nav {
    display: flex;
    gap: 10px;

    a {
      text-decoration: none;
      color: white;
      font-weight: 500;

      &.active {
        border-bottom: 3px solid white;
        padding-bottom: 5px;
      }
    }
  }
}
